doctype html
//
  Telephasic by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title &#xAE00;&#xC790;&#xB85C; &#xB180;&#xC790;! &#xAC24;&#xB7ED;&#xC2DC; &#xB044;&#xD22C;
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='assets/css/main.css')
#page-wrapper
  // Header
  #header-wrapper
    #header.container
      // Logo
      h1#logo
        a(href='') &#xC18C;&#xAC1C;
      // Nav
      nav#nav
        ul
          li
            a(href='/login') &#xB85C;&#xADF8;&#xC778;&#xD558;&#xAE30;!
          li.break
            a(href='/?server=0') &#xC2DC;&#xC791;&#xD558;&#xAE30;!
    // Hero
    section#hero.container
      header
        h2
          | &#xAE00;&#xC790;&#xB85C; &#xB180;&#xC790;! &#xAC24;&#xB7ED;&#xC2DC;&#xB044;&#xD22C;!
  // Features 1
  .wrapper
    .container
      .row
        iframe(src='./kkutu_bulletin.html' width='1300' height='450')
  // Promo
  #promo-wrapper
    section#promo
      h2 &#xB354; &#xC18C;&#xC2DD;&#xC744; &#xC54C;&#xACE0; &#xC2F6;&#xB2E4;&#xBA74;? &#xB514;&#xC2A4;&#xCF54;&#xB4DC;&#xB85C;!
      a.button(href='https://discord.com/invite/CJgSjF8MJd') &#xB514;&#xC2A4;&#xCF54;&#xB4DC;
  // Footer
  #copyright.container
    ul.menu
      li &#xC624;&#xD508;&#xC18C;&#xC2A4; &#xB77C;&#xC774;&#xC13C;&#xC2A4;
      li
        | &#xAE00;&#xC790;&#xB85C; &#xB180;&#xC790;! &#xB044;&#xD22C; &#xC628;&#xB77C;&#xC778; Copyright (C)
        | 2021 &#xC62C;&#xB9AC;&#xBE0C; (admin@galaxykkutu.kro.kr)
        | &#xC774; &#xD504;&#xB85C;&#xADF8;&#xB7A8;&#xC740; &#xC81C;&#xD488;&#xC5D0; &#xB300;&#xD55C; &#xC5B4;&#xB5A0;&#xD55C; &#xD615;&#xD0DC;&#xC758; &#xBCF4;&#xC99D;&#xB3C4; &#xC81C;&#xACF5;&#xB418;&#xC9C0; &#xC54A;&#xC2B5;&#xB2C8;&#xB2E4;.
        | &#xC774; &#xD504;&#xB85C;&#xADF8;&#xB7A8;&#xC740; &#xC790;&#xC720; &#xC18C;&#xD504;&#xD2B8;&#xC6E8;&#xC5B4;&#xC774;&#xBA70; &#xBC30;&#xD3EC; &#xADDC;&#xC815;&#xC744; &#xB9CC;&#xC871;&#xC2DC;&#xD0A4;&#xB294;
        | &#xC870;&#xAC74; &#xC544;&#xB798; &#xC790;&#xC720;&#xB86D;&#xAC8C; &#xC7AC;&#xBC30;&#xD3EC;&#xD560; &#xC218; &#xC788;&#xC2B5;&#xB2C8;&#xB2E4;. &#xC774;&#xC5D0; &#xB300;&#xD55C; &#xC790;&#xC138;&#xD55C; &#xC0AC;&#xD56D;&#xC740; &#xBCF8; &#xD504;&#xB85C;&#xADF8;&#xB7A8;&#xC758;
        | &#xAD6C;&#xD604;&#xC744; &#xB2F4;&#xC740; &#xB2E4;&#xC74C; &#xB808;&#xD3EC;&#xC9C0;&#xD1A0;&#xB9AC;&#xC5D0;&#xC11C; &#xD655;&#xC778;&#xD558;&#xC2ED;&#xC2DC;&#xC624;
      #footer.container
        header.major
          h2
            a.button(href='https://github.com/jaehyunkkutu/galaxykkutu') &#xB808;&#xD3EC;&#xC9C0;&#xD1A0;&#xB9AC;
#copyright.container
  ul.menu
    li &copy; galaxyKKuTu. All rights reserved.
    li &copy; jaehyunKKuTu. All rights reserved.
    li &copy; HTML UP. All rights reserved.
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')
